
*{
    margin:0;
    padding:0;
}

body{
    display: block;
}

h2{
  margin-top: 50px;
}

#btn-inicio{
    background: #176A8E;
    color : white;
    display: block;
    margin: 0 auto;
    padding: 10px 25px;
    border-radius: 10px;
    border: 1px solid #176A8E;

    &:hover{
        background: white;
        color : #176A8E;
        transition: .4s;
    }
}

#admin{
 text-align: center;
 margin: 20px auto;
}
